BOT_TOKEN=
LASTFM_API_KEY=
DATABASE_URL=full/path/to/the/database.db
JWT_SECRET=""         # openssl rand -hex 32
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:8000/oauth/callback
BOT_API_KEY=""        # openssl rand -hex 32, used for bot<->api internal calls
